.theme-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
  }
  .theme-buttons div {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;
  }
.mode-button{
    padding:8px 13px;
    margin-left:20px;
    display:inline-block;
    border-radius:20px;
    cursor: pointer;
    font-size:18px;
    transition: ease-in-out 300ms ;
}
